.gradient-text {
    background: linear-gradient(90deg, blue, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.box:hover span{
    color: white !important ;
}

.box:hover i{
    color: white !important ;
}

.box:hover h5{
    color: white !important ;
}

.box:hover a{
    color: white !important ;
}

.iframe{
    color: white !important ;
}


.max-w-sm:hover .hidden {
    display: block;
    animation: fadeIn 0.5s ease-out;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }


